@import url('https://fonts.googleapis.com/css?family=Megrim');
@import url('https://fonts.googleapis.com/css?family=Baumans');

html, body {
    background-color: black;
}

.wrapper { 
  height: 100%;
  width: 100%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
background-size: 1800% 1800%;

-webkit-animation: rainbow 18s ease infinite;
-z-animation: rainbow 18s ease infinite;
-o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

.code {
    font-family: 'Baumans', cursive;
    font-weight: bolder;
    background-color: white;
    margin: auto;
    margin-top: 120px;
    padding: 6 60px;
    text-align: center;
    font-size: 2em;
    width: 224px;
}

.confirmed-button {
    font-family: 'Megrim', cursive;
    font-weight: bolder;
    font-size: 1.2em;
    background-color: white;
    margin-top: 15px;
    text-align: center;
    width: 220px;
    height: 40px;
    border: none;
}

.change-character {
    font-family: 'Baumans', cursive;
    font-weight: bolder;
    font-size: 1.2em;
    background-color: white;
    margin-top: 64px;
    text-align: center;
    width: 220px;
    height: 40px;
    border: none;
}

#before-lobby-mobile {
    position: absolute;
    transform: scale(0.5);
    margin-left: -70px;
    z-index: 100;
}

#before-lobby-desktop {
    position: absolute;
    z-index: 100;
}

.split {
    font-family: 'Baumans', cursive;
    font-weight: bolder;
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
    background-color: rgba(0, 255, 0, 0.20);
}

.right {
    right: 0;
    background-color: rgba(0, 0, 255, 0.20);
}

.centered {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.centered img {
    width: 150px;
    border-radius: 50%;
}

.centered p {
    width: 320px;
}

.centered button {
    font-family: 'Baumans', cursive;
    font-weight: bolder;
    border: none;
    padding: 8 20%;
    border: 2px solid white;
    background-color: rgb(24, 24, 24);
    color: white;
}