@import url('https://fonts.googleapis.com/css?family=Amaranth');

body {
	text-align: auto;
    margin: 0;
    background: white;   
    padding-bottom: 100em;
}

@-webkit-keyframes fadein {
    from { opacity: 0;}
    to   { opacity: 1;}
}

@-webkit-keyframes fadeout {
    from { opacity: 1;}
    to   { opacity: 0;}
}

#menu-button:hover {cursor: pointer;}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    color: White;
    font-family: 'Amaranth', sans-serif;
    font-size: 1.2em;
    padding: 12px 14px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: rebeccapurple;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}