 #instafeed a img {
    width: 100%;
    padding: 0;
    margin: 0
  }

#instafeed img {
    vertical-align: middle;
   border: 3px solid white;
}

#instafeed img:hover {
    opacity: 0.8;
    -moz-opacity: 0.8;
    -webkit-opacity: 0.8;
}


.insta-text {
    color: white;
}

#instafeed a {
    float: left;
    padding: 0;
    margin: -200px;
    margin-top: -80vh;
    margin-left: 8%;
    height: 306px;
    width: 306px;
  }