.container {
    padding-top: 10vh;
}

#background-image {
    
}

#MainBanner {
    margin: 50px 0px 0px 0px;
    padding: 0px 0px px 0px;
    height: 150px; 
    width: auto; 
    max-width: 8000px; 
    max-height: 800px;
    background-image: url(Banner/MrWebsite%20Banner%202018.png);
    background-repeat: no-repeat;
    background-size: cover;
}

1 a{
  color: #393939;
}



ul li a{
    color: #ef076b;
    text-align: center;
    text-decoration: none;
    
}
.topnav {
    overflow: hidden;
    visibility: hidden;
    background-color: #333;
}

li{
    padding-top: 15px;
    line-height: 1.0em;
    padding-bottom: 30px;
    list-style: square;
    list-style-position: inside;
}

.downloadClass {
    color: deeppink;
    font-size: 120%;
    font-family: monospace;
    font-weight: 200;
    line-height: 2em;
}

.instaimg img {
    margin-bottom: 30px;
}

.instaimg img:hover {
    opacity: 0.8;
}

.topnav {
    padding-left: 100px;
    overflow: hidden;
    visibility: visible;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    padding: 14px 35px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
  background-color: #757575;
  color: black;
}

.active {
  background-color: #542090;
  color: white;
}

.topnav .icon {
  display: none;
}

ul{
  list-style: square;
  margin-left: 24px;
  margin-bottom: 12px;
}

hr{
  margin-top: 30px;
  margin-bottom: 30px;
  border: 0;
  border-top: 1px solid #eee;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

.half-rule{
  width: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.content-center{
  text-align: center;
}

a img{
  padding-bottom: 10px;
}

a img:hover{
  background: none;
}

