@import url('https://fonts.googleapis.com/css?family=Amaranth');

@media screen 
  and (min-device-width: 800px) 
  and (max-device-width: 3840px) 
  and (-webkit-min-device-pixel-ratio: 1) {
      .mobile { display: none; }
      .tablet { display: none; }
      .desktop { display: block; }
      .social { display: block; }

body {
	text-align: auto;
    margin: 0;
    background: white;   
    padding-bottom: 100em;
}    

#banner {
    width: 100%;
    background-image: url(images/banners/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 180px;
    background-color: purple;
    background-position: center;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    color: White;
    font-family: 'Amaranth', sans-serif;
    font-size: 1.2em;
    padding: 12px 14px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: rebeccapurple;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}