@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('http://fonts.googleapis.com/css?family=Sniglet');
@import url('http://thecodeplayer.com/uploads/fonts/font-awesome-4.1.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat');


/* For width smaller than 400px: */
html, body {
    margin: 0;
    padding: 0;
    height: 400px;
    width: 100%;
    font-size: 10px;  
}

body {
    font-family: arial, sans-serif;
	text-align: auto;
    background: white;   
}

#MainBanner {
    margin: 50px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    height: 40px; 
    width: auto; 
    max-width: 400px; 
    max-height: 400px;
    background-image: url(../style/css/Banner/Mobile_Banner.png);
    background-repeat: no-repeat;
}

p5 {
    font-size: 90%;
    font-family: Montserrat;
}
h5 {
    font-size: 16px;
    text-align: center;
    font-family: Montserrat;
    padding: 0px 0px 0px 0px;
}
h6
{
    padding: 0px 0px 0px 0px;
    margin-bottom: 0px;
    font-size: 12px;
    text-align: center;
    font-family: Montserrat;
    line-height: 0px;
}

.topnav {
    overflow: hidden;
    visibility: hidden;
    background-color: #333;
}

/* For width 400px and larger: */
@media only screen and (min-width: 400px) 
{
    
html, body {
	margin: 0;
	padding: 0;
	height: 1080px;
	width: 100%;
	font-size: 16px;
}

body {
	font-family: arial, sans-serif;
	text-align: auto;
    background: white;
}
    #MainBanner {
    margin: 50px 0px 0px 0px;
    padding: 0px 0px px 0px;
    height: 150px; 
    width: auto; 
    max-width: 8000px; 
    max-height: 800px;
    background-image: url(Banner/MrWebsite%20Banner%202018.png);
    background-repeat: no-repeat;
    background-size: cover;
}
    
h5 {
    font-size: 16px;
    text-align: center;
    font-family: Montserrat;
    padding: 100px 0px 0px 0px;
    margin: 0px;
}

h6
{
    padding: 0px 0px 20px 0px;
    margin-bottom: 0px;
    font-size: 12px;
    text-align: center;
    font-family: Montserrat;
    line-height: 0px;
}
    
.topnav {
    padding-left: 100px;
    overflow: hidden;
    visibility: visible;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    padding: 14px 35px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
  background-color: #757575;
  color: black;
}

.active {
  background-color: #542090;
  color: white;
}

.topnav .icon {
  display: none;
}
    
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }    
    
}







	
	
	
