@import url('https://fonts.googleapis.com/css?family=Amaranth');

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 767px)
  and (-webkit-min-device-pixel-ratio: 2) { 
      .desktop { display: none; }
      .social { display: none; }
      #tabletBar { display: none; }
      .tablet { display: none; }
      .mobile { display: block; }
      
#banner {
    width: 100%;
    background-image: url(images/banners/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
    background-color: purple;
    background-position: center;
}
      
#myNavbar li a {
    color: White;
    font-family: 'Amaranth', sans-serif;
    font-size: 1.2em;
}
      
}